# Environments
venv/
.venv/
env/
/bin/
/include/
/lib/
/share/
pyvenv.cfg
pip-selfcheck.json

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
status.txt
cumulative_data.txt
venv/
ideas/draft.txt
docs/CumulativeLeaderboard.md
docs/Idea.md
googleTag.html
cumulative_data.txt
status.txt
docs/additional.txt
data/quizRankData.txt.bak
GOOGLE_SHEETS_SETUP.md
scripts/contact_form_script.gs
scripts/ultra_simple.gs
.gitignore
scripts/post_contact_script.gs
scripts/debug_post_script.gs
scripts/simple_contact_script.gs
scripts/debug_script.gs
simple_test.html
post_test.html
